.notebook {
    text-align: left;
    font-weight: bold;
    font-family: SFPro;
}

.search-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 20%;
    margin: 13px 20px 22px;
    padding: 7px 13.4px 7px 8px;
    border-radius: 10px;
    background-color: rgba(118, 118, 128, 0.12);
    text-align: left;
}

.search {
    margin-left: 65%;
}

.placeholder-label {
    margin-left: 10%;
    color: rgb(156, 154, 154);
}

.searched-items {
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 60px;
    margin-left: 4.5%;
    text-align: left;
    font-weight: bold;
}

.items {
    background-color: rgba(118, 118, 128, 0.12);
    border-bottom: 2px solid rgba(118, 118, 128, 0.12);
    border-radius: 2.5%;
    padding-inline-start: 3%;
}

#item {
    font-family: SFPro;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.trash {
    border: none;
    margin-left: 65%;
}

.date {
    color: rgb(156, 154, 154);
    font-weight: normal;
    font-size: 16px;
}

#trash {
    border: none;
    margin-left: 28%;
}

.message {
    color: rgb(156, 154, 154);
    font-weight: normal;
    font-size: 14px;
}

.entity {
    margin-top: 120%;
    width: 375px;
    height: 80px;
    background-color: rgba(118, 118, 128, 0.12);
    display: flex;
    justify-content: center;
}

.entry {
    margin-left: 30%;
    margin-top: 5%;
}

.squareandpencil {
    margin-left: 40%;
    margin-top: 5%;
    border: none;
}