.header-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.notes {
    padding-left: 18%;
    font-weight: bold;
    color: #cc9933;
}

#notes{
    text-decoration: none;
}

.submit {
    margin-left: 70%;
    font-weight: bold;
    color: #cc9933;
}

.back {
    margin-left: 5%;
}

.writings {
    margin-right: 120%;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    overflow: hidden;
}

textarea.title {
    text-align: justify;
    font-weight: bold;
    padding-top: 12%;
    margin-right: 15%;
}

textarea.sentence {
    padding-top: 1%;
}