.App {
  text-align: center;
  font-family: SFProText;
  background-color: #fff;
  color: #000000;
}

a.nav-link {
  color: #1c1c1e !important;
}

.results{
  display: flex;
  flex-wrap: wrap;
}

.resultItem {
  padding: 2%;
  outline: auto;
}

.bottomNavElement{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;

}

nav.navbar{
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
  background-color: rgba(249, 249, 249, 0.94) !important;
  box-shadow: 0 -0.5px 0 0 rgba(0, 0, 0, 0.3) !important;
}

.topText{
  font-size: 14px;
  font-weight: bold;
}

.welcomeUser{
  font-size: 28px;
  font-weight: bold;
}

/* creating some padding on left side of notebook icon to center correctly */
.notebook {
  margin-left: 12%;
}

.searchDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#dropdown-basic{
  color: blue;
  background-color: #fff;
  border: none !important;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.41px;
}

.mainInput{
  margin-left: 5%;
  width: 60%;
  background-color: rgba(118, 118, 128, 0.12);
  border-radius: 10px;
  border: solid;
  border-color: #fff;
  height:36px;
}

button.mainSearch{
  background-color: rgba(118, 118, 128, 0.12);
  color: blue;
  border-radius: 10px;
  border: solid;
  border-color: #fff;
  height:36px;
}
