.App {
  text-align: center;
  font-family: SFProText;
}

.results{
  display: flex;
  flex-wrap: wrap;
}

.resultItem {
  padding: 2%;
  outline: auto;
}

.bottomNavElement{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}

/* creating some padding on left side of notebook icon to center correctly */
.notebook {
  margin-left: 12%;
}